[2018-07-20 21:32] krupenja opened #1 "Add support for windows with hidden activity bar"
Would be great if there was support for windows with hidden activity bar. Right now it looks like this:

![image](https://user-images.githubusercontent.com/26354715/43026218-691ea3c2-8c7d-11e8-9a7f-656df425594f.png)

For some inspiration, there were some pretty nice screens in this comment https://github.com/Microsoft/vscode/issues/12377#issuecomment-249358040

[2018-07-20 21:40] lehni commented on #1
Oh yeah, I never use it in this mode so I didn't notice! I'll see what can be done.

[2018-07-20 22:05] smockle opened #2 "Incompatible with some settings"
This extension does not have any effect when `"window.titleBarStyle"` is set to `"native"` or when `"window.nativeTabs"` is set to `true`.

As a workaround, set `"window.titleBarStyle"` to `"custom"` and `"window.nativeTabs"` to `false`.

This isn’t really a bug IMO, but it might be worth noting in the README.

[2018-07-20 22:12] lehni commented on #2
You're right, thanks!

[2018-07-20 22:12] #2 closed

[2018-07-20 23:00] lehni commented on #1
@krupenja I've published 1.0.3 now that addresses all these. Please note that you should disable first before upgrading. If that doesn't work, then you need to reinstall VSCode. I've improved the way that restoration of patches files is handled now.

[2018-07-20 23:01] lehni commented on #1
PS: I managed to implement all 3 scenarios exactly as outline by @orta in https://github.com/Microsoft/vscode/issues/12377#issuecomment-249358040

[2018-07-20 23:11] IgorKrupenja commented on #1
@lehni So fast, I'm impressed! 💪 Thank you. Do you think the " Please note that you should disable first before upgrading" should be added to the readme?

[2018-07-20 23:35] lehni commented on #1
@krupenja you're right. I've addressed it now!

[2018-07-21 01:25] hipstersmoothie opened #4 "ZoomLevel"
When "window.zoomlevel" is set to anything but 0 the traffic light buttons aren't aligned correctly. -1 causes the explorer to overlap them slightly

[2018-07-21 01:31] hipstersmoothie opened #5 "Window Resizing"
on macOS you can click the title bar to have the window automatically resize to the available screen size. With this extension enabled you there is nowhere to click to make this happen.

[2018-07-21 07:47] lehni commented on #5
That's a general limitation of the `titleBarStyle="hidden"`/ `titleBarStyle="hidden-inset"` setting. Other applications have the same _problem_, e.g. the Slack app on Mac, or Tweetbot.

You can opt-click on the green traffic light though, turning it into a plus sign that makes it go to full window size without going fullscreen.

[2018-07-21 07:47] #5 closed

[2018-07-21 07:55] lehni commented on #4
Yeah that is maybe a limitation of this extension that we can't do much about. Or do you have a suggestion how to specify widths in CSS and JS that ignore the zoom level?

[2018-07-21 11:29] krupenja opened #7 "Window is not draggable with activity bar off"
At the moment the window is not draggable with activity bar off. Some comments in the original VSCode issue suggest using the space around traffic lights icon to be draggable in this case:
https://github.com/Microsoft/vscode/issues/12377#issuecomment-248647471
https://github.com/Microsoft/vscode/issues/12377#issuecomment-248651408

Not sure that this could be easily implemented though.

[2018-07-21 12:09] lehni commented on #7
If you have tabs open, you should be able to drag the window by dragging the tab bar (since 1.0.5). I'll see what I can do about the area around the traffic lights.

[2018-07-21 12:13] #7 closed

[2018-07-21 12:14] lehni commented on #7
v1.0.6 is out with this fix in.

[2018-07-21 16:19] lehni commented on #4
I've recently switched to defining the traffic light width and height in css variables, and also retrieve their current value for the settings change in JS.

@hipstersmoothie that means that you can override them both using another extension (https://github.com/be5invis/vscode-custom-css), once this version is rolled out, e.g.:

[code]

That way you can at least control it from one place.

There m

[2018-07-22 12:30] fabiospampinato opened #8 "Fullscreen support"
First of all thank you for this extension!

When VSC is fullscreened some space is still reserved for the traffic lights, even though the traffic lights get rendered in a separate titlebar.

[2018-07-22 17:46] lehni commented on #8
Yeah unfortunately the only way to get VSCode to lay out its panels and components without a titlebar I found is to always enforce fullscreen mode, see: https://github.com/lehni/vscode-titlebar-less-macos/blob/4192d225923ea820e1391955194f1ac92c87206c/extension.js#L18

So sadly I don't see a way to address this, since in CSS, .fullscreen is then always set.

[2018-07-22 18:49] lehni commented on #8
Ok, I found a way after all. New version coming up!

[2018-07-22 18:56] #8 closed

[2018-07-22 18:58] lehni commented on #8
Released in v1.0.8

[2018-07-22 19:03] lehni commented on #4
Version 1.0.8 is out, supporting this override now. I think that's the best I can offer here. I hope it's good enough for you:

https://marketplace.visualstudio.com/items/lehni.vscode-titlebar-less-macos/changelog

[2018-07-22 20:13] fabiospampinato commented on #8
Awesome, thank you!

[2018-07-23 11:39] lumaxis opened #9 "Sidebar layout broken in latests Insiders release"
Titlebar-less version: 1.0.9
VS Code version: 1.26.0-insider (90fc7e66e2e10f643871b42f9c0f1f989d0ed221)

Not sure if you want to support the Insiders release but in the latest VS Code - Insiders release, the sidebar layout is pretty badly broken:

<img width="134" alt="screenshot 2018-07-23 13 29 53" src="https://user-images.githubusercontent.com/406937/43074394-5f9aae20-8e7d-11e8-9828-23ce9869ff7

[2018-07-23 14:29] lehni commented on #9
Good to know! I'll have a look :)

[2018-07-23 15:04] #9 closed

[2018-07-23 15:12] lehni commented on #9
Released in v1.0.11

[2018-07-23 15:23] lumaxis commented on #9
Great, thanks for taking care of this so quickly! 🙏

[2018-07-24 04:57] lehni commented on #4
Reopening because I have a better fix coming up.

[2018-07-24 04:57] #4 closed

[2018-07-26 16:09] lumaxis opened #10 "VS Code Insiders: Enabling Titlebar-Less breaks custom titlebar style"
Reporting another issue in Insiders 🙂

With today's update, enabling the extension breaks the application of `"window.titleBarStyle": "custom",` and shows the native titlebar instead:

<img width="397" alt="screenshot 2018-07-26 18 06 22" src="https://user-images.githubusercontent.com/406937/43274151-a1e93660-90fe-11e8-9fc7-adf33f6f471d.png">

If I disable the extension again, the custom style is

[2018-07-29 12:53] lehni commented on #10
Took me a while to figure this one out, but there's the culprit:

https://github.com/electron/electron/blob/f9e2ec43d0688a95610796e01501f5f882eb3bb7/docs/api/breaking-changes.md#breaking-api-changes-20

[2018-07-29 13:43] alinchiuaru opened #11 "Unable to apply all patches (0/4) - macOS 10.14 Beta (18A336e)"
Whenever I tried to run the `Titlebar-Less: Enable` command it throws the above error.
Doesn't get fixed by closing and opening the app again.

Maybe it's something small you can look into.
Love the way this looks, great job!

[2018-07-29 13:45] lehni commented on #11
Hmm, maybe you may have to run the app with admin rights in order to apply the patches? I don't have macOS 10.14 Beta installed, so I can't test. Or maybe you can change the owner of the full VSCode app to you own user?

[2018-07-29 13:49] alinchiuaru commented on #11
Same result, tried to run with `sudo code` from terminal as the root user but no luck.

[2018-07-29 13:57] lehni commented on #11
Can you try running it in this way:

[code]

[2018-07-29 13:58] lehni commented on #11
Note that you only need to do this once to apply the patches. Once this worked, quit the application and start it normally as non-root again.

[2018-07-29 13:58] lehni commented on #11
I think `sudo code` won't work, because it will spawn the app in another process, probably as non-root.

[2018-07-29 14:06] alinchiuaru commented on #11
Did the above and it partially worked. I got:` Unable to apply all patches (2/4)`

[2018-07-29 14:07] lehni commented on #11
Very strange... I think it has to do with the security updates in macOS 10.14. I can't tell you how to circumvent them as I don't have it installed myself yet. I'll look into this once it stops being beta, but maybe others can figure this out before?

[2018-07-29 14:08] alinchiuaru commented on #11
Sure thing. Thank you either way! 👍

[2018-07-29 14:09] lehni commented on #11
BTW, what version of VSCode are you running?

[2018-07-29 14:12] alinchiuaru commented on #11
Just realised something: I was using the Insiders version (Version 1.23.0-insider (1.23.0-insider))

Just tested the above (`sudo "/Applications/Visual Studio Code.app/Contents/MacOS/Electron"`) with the regular VSCode (Version 1.25.1 (1.25.1)) and it works fine.

[2018-07-29 14:14] lehni commented on #11
Great news! You should be able to also use it with the latest insiders version (1.26.0-insider).

The patches will have to change over time and only need to be applied once per version, so I can only ever support the latest versions I think.

[2018-07-29 14:20] #11 closed

[2018-07-31 10:29] burknator commented on #1
I have a similar problem when the activity bar is disabled and the sidebar is hidden. Is there a way to fix this for myself? Oh and thanks a bunch for the extension, I live that look!

<img width="450" alt="bildschirmfoto 2018-07-31 um 12 28 35" src="https://user-images.githubusercontent.com/26658/43454422-42f5d790-94bd-11e8-8a9a-40324f0e97e8.png">

[2018-07-31 11:25] lehni commented on #1
@burknator that's strange, it works for me. What version of VSCode and the extension are you using?

![screen shot 2018-07-31 at 13 24 35](https://user-images.githubusercontent.com/213275/43456805-21a93d04-94c5-11e8-9534-70cbf1e5f5a4.png)

[2018-07-31 11:26] burknator commented on #1
@lehni Sorry, forgot to mention that I disabled tabs.

VS Code: 1.25.1
Your extension: 1.3.3

[2018-07-31 13:28] lehni commented on #1
@burknator you are right. Reopening...

[2018-07-31 13:28] #1 closed

[2018-07-31 13:30] lehni commented on #1
Fix released in v1.4.0

[2018-07-31 13:33] burknator commented on #1
@lehni Wow that was fast! Thanks a Lot!

[2018-07-31 13:34] lehni commented on #1
You're welcome! Glad you like it. Please let me know how it works for you :)

[2018-07-31 16:09] burknator commented on #1
Yes, works perfectly!

[2018-08-05 09:02] krupenja opened #12 "Empty space before tabs in second/third/etc splits when side bar is closed"
Steps:
1. Launch VSCode with Titlebar-less plugin enabled.
2. Close side bar.
3. Open at least two splits.

There is an empty space between tabs in 2nd/3rd splits.
![image](https://user-images.githubusercontent.com/26354715/43684352-49fe1726-98a7-11e8-9bda-c6b372dcb1df.png)

[2018-08-06 12:55] lehni commented on #12
Oh damn :) I'll take a look soon Hope it's not a show-stopper until then.

[2018-08-06 12:57] lehni commented on #12
@krupenja hmm, I can't reproduce this. Did you update to the latest version of the extension? You have to reapply by running the `Titlebar-Less: Enable` command again, and then restart.

[2018-08-07 21:16] IgorKrupenja commented on #12
@lehni The thing is that trackpad and keyboard died on my Mac *again* yesterday and I have decided to move to Linux for good. So I have no Mac machine to test anymore - I guess we can close this for now; at least until someone else can reproduce the issue.

[2018-08-07 21:16] #12 closed

[2018-08-12 15:08] fabiospampinato opened #13 "Only dragging the topmost tab bars should drag the whole window"
Currently all tab bars can be dragged on in order to move the entire window, but I think only the top-most tab bars should behave like that. It feels weird that I can drag the whole window from its center, and this way I can't move any editors groups around.

<img width="1440" alt="screen shot 2018-08-12 at 17 04 27" src="https://user-images.githubusercontent.com/1812093/44003384-fb7cde42-9e51-11e

[2018-08-14 13:04] lehni commented on #13
Agreed. I never use the feature myself, but will look into it.

[2018-08-17 13:07] wsloth opened #14 "Full screen issue with action bar set to display on the right"
I have my action bar set to the right (good old VS2017 feeling), and this causes this extension to reserve space on the left that is not used:
<img width="301" alt="screen shot 2018-08-17 at 15 05 43" src="https://user-images.githubusercontent.com/4933907/44267578-1a1beb00-a22f-11e8-8e38-b6e65ae3364a.png">

On windowed this extension looks awesome. Thanks for the work!

[2018-08-24 13:21] wsloth commented on #14
Awesome, thanks for the fix. Can you bump the version and release it into the extension marketplace? Eagerly awaiting it 👍

[2018-08-24 13:42] Yukaii opened #15 "Title label doesn't look align vertically center with buttons"
![screen shot 2018-08-24 at 9 34 20 pm copy](https://user-images.githubusercontent.com/4230968/44587492-adcc5900-a7e5-11e8-8ba4-3c201c283577.png)

![screen shot 2018-08-24 at 9 39 10 pm](https://user-images.githubusercontent.com/4230968/44587648-2b906480-a7e6-11e8-9c56-d3775197508c.png)

[2018-08-24 13:50] Yukaii commented on #15
Changing `.monaco-workbench>.part>.title>.title-label` line-height to `38.5` looks better:

[code]

![screen shot 2018-08-24 at 9 46 38 pm](https://user-images.githubusercontent.com/4230968/44588121-752d7f00-a7e7-11e8-8956-92cd8c4c3222.png)

![screen shot 2018-08-24 at 11 08 20 pm](https://user-images.githubusercontent.com/4230968/44592257-9fd10500-a7f2-11e8-8286-ed839b9edd8c.png)

![screen shot 2

[2018-08-30 13:52] lehni commented on #13
I've looked into this, but it's very tricky address for the various scenarios in CSS, as the configuration of split views can be very flexible... I'm not sure I can fix this. But perhaps you'd like to help out here?

[2018-08-30 13:53] lehni commented on #15
I'm aware of this but decided not to address it, since people can also use different zoom levels which would again break the alignment, and it never really bothered me... Note that there are other things that probably would need aligning, e.g. debugger UI, tabs, etc.

You could use https://github.com/be5invis/vscode-custom-css to adjust this outside of this extension, also?

[2018-08-30 13:54] lehni commented on #14
@wsloth I've published it now. Apologies for the delay, I was busy traveling for work last week.

[2018-08-30 15:26] fabiospampinato commented on #13
I don't think it's possible to match them with CSS alone, the following abomination seems to work well enough, even with complicated layouts, but someone might want to nest editors even deeper and it won't work perfectly.

[code]

It matches the following layouts properly:

<img width="1440" alt="screen shot 2018-08-30 at 17 16 25" src="https://user-images.githubusercontent.com/1812093/44861671-4b

[2018-08-30 15:59] lehni commented on #13
@fabiospampinato thanks for looking into this! That's an interesting thought about using JS to address this... We would need a callback for whenever the tab layout changes, so I could loop through all tabs and add an additional class to the ones that are at the top. I'll look into that.

[2018-08-30 16:39] fabiospampinato commented on #13
We would also need an event when editors are rearranged, since an editor that's at the bottom might get moved to the top 🤔

[2018-08-31 13:26] lehni commented on #13
@fabiospampinato very cool, thanks to your input and ideas I managed to find a way to implement this rather elegantly. It even handles the situations of manual reordering of tabs. Fix coming up!

[2018-08-31 13:27] #13 closed

[2018-08-31 14:15] fabiospampinato opened #16 "Support "Extension Development Host" windows"
For some reasons the `window.titleBarStyle` setting is ignored in the window that gets opened when debugging extensions, I think this extension should support that, basically detecting when it's running in such window and doing nothing, similarly to when the window is fullscreened.

<img width="1440" alt="screen shot 2018-08-31 at 16 10 01" src="https://user-images.githubusercontent.com/1812093/44

[2018-08-31 15:19] #16 closed

[2018-09-01 10:28] #15 closed

[2018-10-09 12:31] LukasBombach opened #17 "Unable to apply all patches (0/4)"
Hey there!

Awesome plugin, this is just what I wanted.

I added the options

[code]

and ran

`>Titlebar-Less: Enable`

But then I got an error saying

Do you have any clue from this what could have gone wrong?

[2018-10-09 13:10] fabiospampinato commented on #17
@LukasBombach have you tried running VSC with sudo? https://github.com/lehni/vscode-titlebar-less-macos#installing-on-macos-1014-mojave

[2018-10-09 14:11] fabiospampinato opened #18 "Extend the breadcrumb below the semaphore"
I think the breadcrumb should take the full width in this situation:

<img width="864" alt="screen shot 2018-10-09 at 16 09 51" src="https://user-images.githubusercontent.com/1812093/46675022-d960a280-cbdd-11e8-8fcc-0660cc11a392.png">

[2018-10-09 14:46] LukasBombach commented on #17
Awesome! That worked! Thank you!

(btw i am not on Mojave (I'm on High Sierra), but that did it for me)

[2018-10-09 14:46] #17 closed

[2018-10-09 14:46] LukasBombach commented on #17
PS: Awesome Plugin!

[2018-10-09 15:09] fabiospampinato commented on #17
Yeah I'm on High Sierra too, I don't know why running it with sudo is suddenly a requirement, they must have changed something 🤔

[2018-10-09 15:42] LukasBombach commented on #17
I see

[2018-10-13 20:17] lehni commented on #18
Yeah that makes sense. Do you want to give it a go?

[2018-10-14 02:03] fabiospampinato commented on #18
I'm not really using the breadcrumb, I've just found this issue while updating my theme.

But if you can tell me what a fix for this could/should like I can add this to my todo list if you want.

[2018-10-14 11:37] #18 closed

[2018-10-14 11:40] lehni commented on #18
I've taken care of it :)

[2018-10-17 19:34] fabiospampinato commented on #18
I think you've accidentally extended the tabs bar below the semaphore  too or something. If there are enough tabs that I can scroll them then they go below the semaphore.

<img width="864" alt="screen shot 2018-10-17 at 21 32 43" src="https://user-images.githubusercontent.com/1812093/47111579-37336100-d254-11e8-9182-6b60f561f7c5.png">

[2018-10-17 21:25] lehni commented on #18
Not really accidental, I just wasn't aware that the tabs scroll. There are so many possible combinations of these features, and I only really use about 10% or so... I guess I can keep patching, but in the end what I'm interested in making work are the features that I use myself. Maybe I should just reverse this change as I don't even use breadcrumbs.

[2018-10-17 21:47] fabiospampinato commented on #18
Yeah I guess maintaining an extension like this can be painful. I'm not using the breadcrumb either.

Maybe you can keep this issue open and revert the commit in question until somebody "completes" it. Do what you think it's best.

[2018-10-20 19:21] lehni commented on #18
I found some time to look into it now. Fixed in 56dff4ed69c9afab36aab1318910cca5ba97f473 😉

[2018-10-20 19:23] fabiospampinato commented on #18
Thank you!

[2018-11-24 17:53] blaadje opened #19 "Remove titlebar icons"
Hello,

First, great extension ! 😄
Would it be possible/relevant to remove the left colored mac icons with an option or something ?

![image](https://user-images.githubusercontent.com/24897042/48971256-7f922b80-f017-11e8-8a35-7335d7717661.png)

I wanna have a minimal vscode ui
- no tabs
- no activity bar
- no title bar (at all)

to get something similar with hyper-mimal

![image](https://user-imag

[2018-12-07 20:29] lehni commented on #19
I think this could be achieve by setting `frame: false` when creating the electron frame:
https://electronjs.org/docs/api/frameless-window

But I have no intention to do so myself, as I don't have a need for this personally, and maintaining this extension is already tricky enough without it, due to frequent VSCode changes... I'd consider accepting a PR, if you or somebody else is willing to mainta

[2018-12-12 22:07] dmlemos opened #20 "Not working on 1.30.0"
Having trouble getting it to work on 1.30.0

After enabling it, the usual message "Your Code installation appears to be corrupt. Please reinstall." appears, but no effect.

[2018-12-13 16:15] gee-forr commented on #20
Just installed v1.7.1, still not working. Let me know if I can help debug in any way to figure out what's the problem

[2018-12-21 21:30] jtmkrueger commented on #20
So I was having this problem, and decided to see if it was a conflict in my settings. I commented out `"window.nativeFullScreen": false` and things started working for me again.

[2019-01-02 18:44] dmlemos commented on #20
@jtmkrueger that's true! It does work with native full screen. Thanks

[2019-01-03 14:32] #19 closed

[2019-01-07 16:35] degardinn opened #21 "Sidebar width when on the right"
Love the extension!
Being one of these weirdos who put the side bar on the right (View/Appearance/Move sidebar right), I was thinking that there's no real point in this case for the sidebar to match the width of the traffic lights. It could use the standard 50px width, right?

![image](https://user-images.githubusercontent.com/23199222/50780087-06216600-1270-11e9-8d79-c12203bdb4cc.png)

[2019-01-07 16:49] lehni commented on #21
Yes it could... The CSS is already pretty complex though, adding more special cases further increases its complexity. But maybe it's possible to do in a simple way, I'll check

[2019-01-29 15:27] joshuabalfe commented on #20
I was running into this problem, switching off native tabs fixed it for me

[2019-02-04 01:57] mediter commented on #20
Ran into the same issue, tried turned off Native Tabs, the issue persists. But the extension seems to be working at this point.

Tried disable this extension, restart, re-enable the extension, restart, same alert.

Titlebar-Less v. 1.7.1
VS Code v. 1.30.2
macOS Mojave v. 10.14.2

[2019-02-04 03:16] mediter commented on #20
the alert seems to intentional on Microsoft's part
[Visual Studio Code Frequently Asked Questions](https://code.visualstudio.com/docs/supporting/faq#_installation-appears-to-be-corrupt-unsupported)

this repo recommends the following extension:

[2019-02-06 21:04] Arelav opened #22 "Stuck after upgrade to version 1.31.0"
Stuck after upgrade to version 1.31.0
After applying `TitlebarLess: enable` and restart Vscode shows an empty screen and I see no way to roll back except to download a new app and replace VScode in Applications folder.

It's also doesn't allow to open Developer Tools

[2019-02-07 02:29] Arelav commented on #22
I opened developer tools before enabling and refreshed the window instead restart.
I'm not familiar with the extension codebase and hope it will help to find the problem.
<img width="719" alt="screen shot 2019-02-06 at 21 26 42" src="https://user-images.githubusercontent.com/1059539/52386947-3b2efd00-2a56-11e9-81d2-6718078d28a7.png">

[2019-02-08 10:04] benoitwimart commented on #22
Same problem, I downgrade VS Code and block upgrade  to relaunch it.
(Wow, Lehni the guy who made Scriptographer 👍  <3 )

[2019-02-09 11:42] rbardini commented on #22
I've fixed my macOS VSCode installation by restoring the `workbench.main.css.orig.1.31.0` and `workbench.main.js.orig.1.31.0` backup files located in `/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/`.

[2019-02-09 19:42] dmlemos commented on #20
Closing this in favour of #22

[2019-02-09 19:42] #20 closed

[2019-02-10 15:13] weierz commented on #22
@rbardini Thanks for your temporary solution! It works, but doesn't work well for me...

![screen shot 2019-02-10 at 23 12 36](https://user-images.githubusercontent.com/14329786/52535452-692f7c80-2d89-11e9-9421-e1461d572593.png)

When I was trying to disable this extension, it showed:

![screen shot 2019-02-10 at 23 16 22](https://user-images.githubusercontent.com/14329786/52535492-012d6600-2d8a-1

[2019-02-10 15:29] weierz commented on #22
I've found that the owner doesn't watch this repo.  A properly mention may be needed. @lehni

[2019-02-10 18:16] lehni commented on #22
I'm watching now. I will check what's going on and hopefully find a solution shortly!

[2019-02-10 18:32] lehni commented on #22
Fixed and released in v1.8.0 🎉

[2019-02-10 18:32] #22 closed

[2019-02-18 20:14] visualcookie opened #23 "Unable applying in 1.32.0-insider"
While running the enable command, I'm running into an unknown error of `unable to apply patch (2/4)`, even when using `sudo`.

VSCode Version: Insiders

[2019-02-19 10:29] lehni commented on #23
Yes, things keep changing, and need adjustments in the extension... I don't always have time to keep up to date with the Insiders version, as that's changing even faster.

[2019-02-19 11:05] #23 closed

[2019-02-19 11:08] lehni commented on #23
Fix is released in 1.8.1

[2019-03-31 21:31] stuible opened #24 "Top of explorer sidebar becomes undraggable"
Top of explorer sidebar becomes un-draggable after the window is open for some time.  I'm not sure exactly what causes this to happen but it seems to consistently happen to me.  Re-opening the window fixes it.
<img width="434" alt="Screen Shot 2019-03-31 at 2 28 28 PM" src="https://user-images.githubusercontent.com/1476537/55295385-561c4e80-53c1-11e9-829f-b69598225832.png">

[2019-03-31 21:37] fabiospampinato commented on #24
This is a bug with Electron, I think it got fixed in v5.

[2019-04-04 19:49] mrvkino opened #25 "Unable to apply all patches in VSCode 1.33.0"
In the new version of VSCode 1.33.0 I have the following message:

[code]

It did not happen in 1.32.X.

[2019-04-05 09:45] Beyarz commented on #25
Got the same issue after updating vscode to 1.33.0

[2019-04-06 18:52] renegadevi commented on #25
Same issue.

[2019-04-08 09:46] mohouyizme commented on #25
It happened lately after updating VSCODE, I'm currently at version 1.33.0

[2019-04-08 10:17] lehni commented on #24
I am not 100% certain that this is the case here, @fabiospampinato. The bug you mention affects the top center, not the sides. I will look into this soon.

[2019-04-08 10:18] lehni commented on #25
Yes, new versions of VSCode regularly break this extension. I have to change the patching regular expressions, which is normally straight forward, but I don't always have the time to respond immediately. I'll look into it some time this week.

No need for more confirmations of the bug.

[2019-04-08 12:31] lehni commented on #25
I'm working on this as we speak, but there was an unusually high change in the codebase between these two versions, rendering the needed adjustments more complex than normal...

[2019-04-08 13:16] lehni commented on #25
For those interested, see c80c6909358a421d0a32f8028c4c935e1b185b30 to understand the complexity involved. All this needs to be deducted from the built versions of VSCode, mainly the file `workbench.main.js` inside `Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/`, which currently is one 5.7MB big minifed JS file...

[2019-04-08 13:25] lehni commented on #25
Published as v1.9.0

[2019-04-08 13:26] lehni commented on #25
Argh, I was testing against Insiders, which has changed again... It works with that now, but not with 1.33.0. Reopening 🤦‍♂️

[2019-04-08 13:29] mohouyizme commented on #25
@lehni anyway that was fast, good job!

[2019-04-08 13:32] lehni commented on #24
Hmm it works for me, so maybe this only happens when the window is small enough, or the invisible title of it that catches the mouse interaction really large, covering the explorer tab on the side as well?

[2019-04-08 13:32] #24 closed

[2019-04-08 13:33] #25 closed

[2019-04-08 13:35] lehni commented on #25
Fixed in v1.9.1 😅

[2019-04-08 14:12] fabiospampinato commented on #24
@lehni I was referring to [this](https://github.com/electron/electron/issues/14529) bug, which affects the top part of the titlebar, not just the center.

[2019-04-08 15:56] awhitty commented on #25
Thank you for fixing! Love this extension :)

[2019-04-08 16:10] lehni commented on #24
@fabiospampinato yes I know. What I meant is the center of the top. Watch the video, and you'll see it only fail in the center region of it.

[2019-04-08 16:30] mohouyizme commented on #25
Thank you!

[2019-04-08 16:51] Beyarz commented on #25
Sweet!

[2019-04-10 19:45] simonwjackson opened #26 "Not working with latest release of VSCode"
<img width="483" alt="Screen Shot 2019-04-10 at 2 46 10 PM" src="https://user-images.githubusercontent.com/189379/55908570-67264600-5b9f-11e9-9944-527a8bfe4298.png">
<img width="396" alt="Screen Shot 2019-04-10 at 2 45 19 PM" src="https://user-images.githubusercontent.com/189379/55908533-52e24900-5b9f-11e9-97e1-edbe4d8cf5aa.png">

[2019-04-10 22:32] lehni commented on #26
Are you sure you've actually updated the extension? This issue was already fixed two days ago, and a new version was released, see #25

[2019-04-10 22:32] #26 closed

[2019-04-22 17:21] krupenja opened #27 "Upper half of debug toolbar buttons not clickable"
1. Install vscode-titlebar-less-macos (version 1.9.1) and enable titlebar-less, restart VSCode.
2. Start some debug configuration so that debug toolbar appears.
3. Try clicking on any of the debug toolbar buttons (e.g. Stop).

You can successfully click on a button if clicking the lower half of the button. Nothing happens if you click on the upper half. No such problems with titlebar-less disabled

[2019-04-23 15:12] lehni commented on #27
Same as #24, unfortunately a wontfix in this extension. All we can do is wait for Electron to fix it, and the update make its way into VSCode.

[2019-04-23 15:12] #27 closed

[2019-04-23 15:51] IgorKrupenja commented on #27
Thanks for clarifying! Based on info in the Electron issue, I was able to come up with an (ugly) workaround:

1. Install and enable your [other extension](https://marketplace.visualstudio.com/items?itemName=lehni.vscode-fix-checksums).
2. Add `"window.title": "."` to VSCode settings

[2019-04-27 04:48] apollolux opened #28 "[FEAT. REQ.] Vertical traffic light option possibility?"
Hello! This is a groovy extension for Mac VSCode users and I would like to request the addition of the ability to choose between horizontal and vertical traffic lights if possible, like in the Atom mod screenshot on [this comment](https://github.com/Microsoft/vscode/issues/12377#issuecomment-482936323) in  [@Microsoft/vscode#12377](https://github.com/Microsoft/vscode/issues/12377). What would be t

[2019-04-28 22:11] lehni commented on #28
I am not sure how this is achieved in Atom. Both apps use Electron, so there probably is a way, but I couldn't find any references to it in a quick search, and I don't have use for this personally. It's already complicated enough to maintain this extension without such additional hacks, (e.g. see: #25), so I don't think this will become a reality...

[2019-04-28 22:11] #28 closed

[2019-04-29 12:31] fabiospampinato commented on #28
This is achievable by hiding the controls entirely and recreating them with CSS, IMHO it's not worth the hassle.

[2019-04-29 12:41] lehni commented on #28
I see. Yeah that sounds like too much hassle for me to maintain as well. Thanks for clarifying @fabiospampinato

[2019-05-09 16:21] asilvadesigns opened #29 "Not able to click certain areas of tabs."
With this extension enable, I'm not able to click on certain tab areas and the behavior is inconsistent. It seems like a similar problem as #27 but I'm not sure.

Also, clicking on the "x" to close a tab will not work unless I click directly on the "x" glyph.

Awesome extension btw, thanks!

[2019-05-10 06:39] lehni commented on #29
Yes, this is the same as #27 and #24. See here: https://github.com/electron/electron/issues/14529

[2019-05-10 06:39] #29 closed

[2019-05-21 12:24] knopp opened #30 "Double click to zoom"
First of all, thank you for this extension. It is a game changer. There is one tiny thing that bugs me a bit. Doubleclicking on draggable areas should maximize (zoom) the window. Would this be possible to implement?

[2019-05-21 15:27] lehni commented on #30
Lots of thing are possible, and PRs are always welcome :)

[2019-05-21 15:38] lehni commented on #30
Something like this should probably work:

[code]

Now how to get to these references from the minified VSCode? Not sure!

[2019-05-21 17:46] knopp commented on #30
There is better way I think. In browser process there is Window service, which has maximizeWindow() method. It is used on windows to implement the maximize button.

i.e.
[code]

this maximizes the window (with OS animation and everything). Slightly tricky part is to retrieve the instantiation service

EDIT: Actually, there is `onWindowTitleDoubleClick` method that is even better

[2019-05-21 20:30] knopp commented on #30
So, here's a [short javascript](https://gist.github.com/knopp/b7db7a1ffe92d36300e313af2ce6d8b6), which when included using [vscode-custom-css](https://github.com/be5invis/vscode-custom-css) does the trick.

I'm not sure what the best way is to integrate this with the extension, but hopefully it helps.

[2019-05-23 02:19] knopp opened #31 "Better way of handling tab dragging"
Currently, every tab has `-webkit-app-region: no-drag` set, which causes problem when there is a lot of tabs and they get scrolled beneath panel title (the "EXPLORER" part). Despite overflow:hidden, chrome still considers the area covered by tabs no-drag, and thus panel title becomes not draggable.

This could be solved by some monkey-patching magic. I.e. this seems to work fine
[code]
and a bit o

[2019-06-02 15:31] this-fifo opened #32 "Unable to use window.nativeFullScreen as false"
Hi there,

Just found out about this extension recently and I absolutely love it, thank you so much for having done this! You are awesome. 👏

I noticed that before this extension I would have ```window.nativeFullScreen = false``` to prevent Code from creating a new space when triggering the fullscreen, however that needs to be set as true for the extension to work properly

Only adding this here b

[2019-07-03 13:53] bpasero opened #34 "Bring this into VSCode proper"
Cross posting here from: https://github.com/microsoft/vscode/issues/12377#issuecomment-507240068

Would be great :+1:

[2019-07-07 18:06] knopp commented on #34
Okay, given that some kind of inline titlebar might actually get into VSCode, here's my 2 cents. I recently published [extension](https://marketplace.visualstudio.com/items?itemName=iocave.customize-ui), that amongst other things also implements titlebar less on OS X (inspired by this extension, obviously :)

There are some differences though. @lehni's extension makes activity bar very wide, which

[2019-07-07 18:10] fabiospampinato commented on #34
That's exactly what I want as a user, your proposed alternative IMHO looks pretty confusing.

[2019-07-07 18:19] knopp commented on #34
I agree it's not ideal, but neither is resizing activity bar from (already quite large) 50px to 78px. That's a lot less space for actual code.

Tbh, I'm not a fan of vertical activity bar in general, that's why I added setting to move it to the bottom, but that's a separate issue.
<img width="776" alt="Screen Shot 2019-07-07 at 20 16 41" src="https://user-images.githubusercontent.com/96958/6077227

[2019-07-10 13:09] lehni commented on #34
@bpasero I'm finally finding some time to answer this:

🔗 https://github.com/microsoft/vscode/issues/12377#issuecomment-507240068

Thank you for the kind words! I'd be happy to work on integrating this into VSCode, but I'd probably need some help doing it the right away. Since we're both based in Zürich, we could even meet and discuss this over lunch or beers :)

But it sounds like VSCode needs to

[2019-07-10 13:25] bpasero commented on #34
You already did all the changes into a patch, right? We can start from that and then see if something can be done in any better way.

Yes! though I will be out on vacation soon, but we can connect when I am back.

We have a branch going with Electron 6 (`electron-6.0.x`) to test things. Are you referring to a particular issue that is fixed in Electron 6 for this to work?

[2019-07-10 13:30] lehni commented on #34
Yes, for that I actually worked with the VSCode source to find the right places and then condensed it into a patch. So I have some understanding of the code base. Some things are rather hacked together though :)

Happy holidays! Will you get in touch when you're back?

I'm thinking of #24 that I thought was resolved in that version? Maybe I'm wrong about this.

[2019-07-10 13:35] bpasero commented on #34
I see, yeah we can start on the PR and then see how it works out. At the same time we are working on updating to Electron 6.

I will be back beginning of August and can ping here again then.

[2019-07-10 13:49] lehni commented on #34
@knopp it may be that the people who are happy with the status quo are also Slack users? The look was inspired by it:

![image](https://user-images.githubusercontent.com/213275/60974211-fc191680-a329-11e9-9d49-903ace1d2552.png)

But taking further cues from Slack, we could go with the traffic lights that have less padding around them, and then also make the activity bar less wide to align with it

[2019-07-10 13:51] lehni commented on #34
@knopp come to think of it, this could easily be hidden behind a config switch. I'll look into this soon.

[2019-07-10 22:56] knopp commented on #34
@lehni, I'm not a slack user so I can't say, but in my opinion horizontal screen estate for IDEs is extremely valuable and I'm not very fond of having almost 30 pixels of additional empty space just to accomodate traffic lights.

However, it's quite possible I'm in the minority and most people are fine with sacrificing this screen estate for better esthetics :) Either way, with activity bar at the

[2019-07-11 11:57] fabiospampinato commented on #34
I think so too, but I also like nice UIs, the way this works for me is that I have a shortcut for toggling the activity bar, unless I actually need it (if I forget what the shortcut for switching between them is) I simply show it temporarily.

[2019-07-11 13:27] lehni commented on #34
Personally I write code that never goes over 80 chars per line, so I can use diffing and such easily when working with git. Thus the wide activity bar never bothered me in VSCode.

I'll give the more narrow traffic lights a go now, but I don't think it's worth going further than that...

[2019-07-11 13:29] lehni commented on #34
@knopp regarding the other things you mention, yes I'll keep them in mind. It'll be much easier to address this when the code is properly integrated in VSCode, not delivered as an increasingly complex patch.

[2019-07-11 13:49] lehni commented on #34
Here a quick sketch of how it would look with the thiner traffic lights. I'm torn about that look, feels like it doesn't have enough room to breathe, but maybe I'm just too used to the status quo now.

![image](https://user-images.githubusercontent.com/213275/61056367-837e8c80-a3f3-11e9-90b0-e78ecfee87fe.png)

[2019-07-11 16:57] fabiospampinato commented on #34
Nah, those traffic lights just look ugly, they use a very different padding compared to other elements of the app (see "Explorer" in the sidebar or the editors' tabs), and as a consequence they stop behind aligned with anything on the x axis.

[2019-07-25 09:36] knopp commented on #34
@fabiospampinato, out of curiosity, does this also look confusing to you?

<img width="820" alt="Screen Shot 2019-07-25 at 11 35 16" src="https://user-images.githubusercontent.com/96958/61863707-6a380e80-aed0-11e9-894b-2c6989a7f52e.png">

[2019-07-25 12:29] fabiospampinato commented on #34
@knopp It still looks off to me, the window's control buttons aren't aligned with anything on the y axis, the border that separates sidebar and activity bar is kind of truncated (doesn't go all the way to the top like the border that separates the editors and the sidebar).

[2019-07-25 12:37] knopp commented on #34
@fabiospampinato

They're center aligned by the sidebar title and tabs, so I'm not sure what you mean. Did you by any chance meant x-axis?

[2019-07-25 13:16] fabiospampinato commented on #34
Yes, sorry 😅

Another thing that looks off to me is that the "EXPLORER" header in the sidebar isn't aligned with the elements in the sidebar. I think this is inevitable when the activity bar is hidden, but when it's visible I'd prefer if things aligned more.

[2019-08-01 16:04] gugadev commented on #9
Happen again in latest Insiders release @lehni. I'll test it on the latest stable.

**Edit**: on stable release works as expected. 👍

[2019-08-01 18:37] dpren commented on #19
This can be done with the [Custom CSS and JS Loader](https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css) extension with the following rule:

[code]

[2019-08-01 18:52] dpren opened #35 "Option to hide traffic light buttons"
Since I use keyboard shortcuts, I have no use for the traffic light buttons. Could we add an option to hide them entirely?

I'd submit a PR if you're open to it.

I appreciate your effort on this extension.

[2019-08-05 14:01] lehni commented on #35
I'm open to a PR, yes!

[2019-08-05 14:02] lehni commented on #9
@gugadev that's a separate issue, thank you for spotting it. I am going to open a new issue for this.

[2019-08-05 14:04] lehni opened #36 "Activity-bar layout broken in v1.37.0-insider"
As pointed out in https://github.com/lehni/vscode-titlebar-less-macos/issues/9#issuecomment-517352098: The layout is now broken. Dragging the window with the tab-bar also doesn't seem to work anymore:

![image](https://user-images.githubusercontent.com/213275/62470401-a9047900-b79a-11e9-91fa-fa7a0dbddfcf.png)

[2019-08-05 14:07] lehni commented on #34
@bpasero ~~since things appear to be breaking in a bigger way again soon (see #36)~~, is it maybe now time to start working on the real integration instead of patching it again for all the underlying changes?

**Update**: #36 seems fine after another restart.

[2019-08-05 14:12] lehni commented on #36
Well that's strange... After another restart, it looks and behaves just fine : )

![image](https://user-images.githubusercontent.com/213275/62470971-d998e280-b79b-11e9-9890-e7fe6a78dfc8.png)

[2019-08-05 14:12] #36 closed

[2019-08-05 14:44] bpasero commented on #34
Yeah, I am a bit flooded by work right now after returning, but feel free to fire up a PR, though I may not have time to jump on it just now 👍

[2019-09-04 21:36] aexvir opened #38 "Not working on 1.38"
It seems that the last update broke some of the patches that this extension applies. I've checked the console output and it seems because some files don't exist anymore, in this case they seem to have been renamed

[code]

[code]

It seems that the new files are called `workbench.desktop.main.js` and `workbench.desktop.main.css` respectively

[2019-09-26 20:19] dpren opened #40 "Maintenance help?"
I notice you haven't been maintaining this as actively lately. I understand it's a lot of work to keep up with all the VSCode updates. I'd love to help. Would you be open to adding me as a co-maintainer so we can keep things working if you're busy?

[2019-09-26 20:22] lehni commented on #40
Yes, things are very busy at the moment, but should cool down a bit soon again. I'm happy to have co-maintainers. Perhaps as a first step, you could create a PR to fix the current issues, and we can take it from there?

[2019-09-26 20:23] lehni commented on #38
Yes, I'm aware. Sadly I'm fully absorbed by work currently, and can't fix this right now. it'll be another 3 weeks or so until I can make some time for this.

[2019-09-26 20:25] dpren commented on #40
Sounds good 👍

[2019-10-08 21:19] doseofmazen opened #42 "Unable to apply all patches (1/4)"
On Catalina. VS Code version: 1.38.1

<img width="580" alt="Screen Shot 2019-10-08 at 16 17 46" src="https://user-images.githubusercontent.com/34517221/66434025-3d7f9780-e9e7-11e9-96f1-56aba83e1908.png">

[2019-10-09 01:44] #42 closed

[2019-10-24 07:34] Win1010 opened #43 "Unable to apple all patches 1/4 issue"
I tried it as a root user as well, added the 2 required lines in the settings.json but the extension will still won't work.

![Screen Shot 2019-10-24 at 09 34 00](https://user-images.githubusercontent.com/22913459/67463306-78b5d380-f641-11e9-8f0c-2ac33ead8205.png)

[2019-10-24 07:53] weierz commented on #43
@Win1010 Please read: #38, #40, #41
Apparently, the owner is busy at work. I plan on fixing it in the middle of December.

[2019-10-24 15:33] lor1x commented on #43
Hey @willbchang I already did before you commented and noticed the creator of this cool extension was busy till December but I had to put it here

[2019-10-24 15:52] #43 closed

[2019-11-12 05:07] danjudex opened #44 "Unable to apply all patches (1/4) - macOS 10.15.1, VSCode 1.40.0"

[2019-11-12 16:23] foxt commented on #44
Can reproduce, yes, I ran it as sudo!

[2019-11-12 16:24] lehni commented on #44
Yes, we're aware, see #42 #43 #38

[2019-11-12 16:24] #44 closed

[2019-11-25 02:44] weierz commented on #43
@Win1010 for some other reason, I switched to IntelliJ IDEA for web development recently, so I won't fix this issue. I'm sorry.

[2019-11-25 22:56] lor1x commented on #43
@willbchang That's fine. When lehni get's free he maybe can fix that :)

[2019-12-18 11:11] #35 closed

[2019-12-18 17:14] #32 closed

[2019-12-18 17:14] #38 closed

[2019-12-18 17:14] #40 closed

[2019-12-18 17:14] #21 closed

[2019-12-18 17:14] #30 closed

[2019-12-18 17:14] #31 closed

[2019-12-18 17:14] lehni commented on #34
I have deprecated this extension in favour of https://marketplace.visualstudio.com/items?itemName=iocave.customize-ui by @knopp now. Feel free to carry on the discussion of integrating its functionality there!